header {
	border-bottom: 1px solid #C0C0C0;
	background: white;
	height: 46px;
	width: 100%;
	padding: 0 100px;
	box-sizing: border-box;
}

body {
	background: rgb(232 236 240);
}

img {
	object-fit: cover;
}

.circle {
	border-radius: 50%;
	vertical-align: middle;
}
.eclipse {
	border-radius: 25px;
}

.mainLeftPosition {
	margin-right:12px; 
}

.mainRightPosition {
	margin-left:12px;
}

.gray_space {
	background: rgb(232 236 240);
	width: 100%;
	height: 15px; 
}

.blue {
	color: #1DA1F2;
}

.gray {
	 color: #66757f;
}

.user_photo {
	margin-left: 10px;
}

.border {
	border-bottom: 1px #C0C0C0 solid;
}

.flex_row {
	display: flex;
	align-items: baseline;
	flex-direction: row;
}

.column {
	flex-direction: column;
}

/*---------------header---------------*/

#headerPosition {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_item {
	display: flex;
	align-items: center;
}

.headerImg {
	vertical-align: middle;
	width: 23px;
	height:23px;
}

.headerSubItem {
	display: inline-flex;
	align-items: center;
	height:100%;	
}

.leftHeaderLink {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.firstLeftHeaderItem  {
	color: #1DA1F2;
	border-bottom: 2px solid #1DA1F2;
}

.firstLeftHeaderItemColor {
	color: #1DA1F2;
}

.headerLinkHover:hover {
	color: rgb(87 160 236);
	cursor: pointer;
}

.headerSubItem + .headerSubItem {
	margin-left: 20px;
}

.fontawesomeSize {
	font-size: 20px;
}

.leftHeaderTitle {
	font-family: "ＭＳ Ｐゴシック","MS PGothic",Osaka,sans-serif;
	font-size: 13px;
	margin-left: 6px;
}

.searchKeyWord {
	height: 30px;
	width: 221px;
	font-size: 12px;
	background-color: #f5f8fa;
	border: 1px solid #e6ecf0;
	outline: 0;
}

.firstRightHeaderItem {
	position: relative;
	left:215px;
}

.tweetButton {
	background-color: #4AB3F4;
	color:white;
	border-style: none;
	outline: 0;
	font-size: 14px;
    font-weight: bold;
    width: 92px;
    height: 36px;
}

.tweetButton:hover {
	background-color: #1da1f2;
	cursor: pointer;
}

/*---------------header---------------*/

/*---------------main---------------*/
.main_container {
	padding: 15px 100px;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: flex-start;
}

/*---------------left---------------*/
.main_left_item {
	background: white;
	display: flex;
	align-items: center;
	width: 290px;
}

.mainLeftItemLineHeight {
	line-height: 1px;
}

.userNameInfo {
	margin-left: 20px;
}

.userNameInfo p {
	color: rgb(124 136 148);
}

.userInfoFigures {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.userInfoFiguresTitle {
	color: #657786;
	font-weight: bold;
	font-size: 13px;
	font-family: monospace;
}

.figure {
	color: #1DA1F2;
	font-weight:bold;
	font-size:16px;
	font-family: monospace;
}

.left_info_block {
	margin-right:  30px;
}

.left_info_block:first-child {
	margin-left:10px;
}

.mainLeftItemBlueSubLink {
	font-size: 12px;
	text-decoration: none;
	color: #1DA1F2;
	font-family: monospace;
}

.main_left_subitem {
	margin-left: 10px;
}

.left {
	align-items: flex-start;
	margin-left: 14px;
	width: 275px;
}

.mainLeftItemBlueLink {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #1DA1F2;
}

.userInoFigure {
	font-size: 12px;
	line-height: 10px;
	color: rgb(124 136 148);
}

.main_left_item + .main_left_item {
	margin-top: 10px;
}

.user_icon {
	position: relative;
	top: -340px;
	left: -100px;
	width: 0px;
	height: 0px;
	margin:0;
	padding:0;
	display: inline-flex;
	justify-content: center;
}

.leftUserIcon {
	border-radius: 50%;
	border:solid 3px white;
}

/*---------------left---------------*/

/*---------------center---------------*/
.user_photo {
	padding-top: 5px;
	margin -left: 0px;
}

.main_center_item {
	display: flex;
	width: 590px;
	background: white;
	border-bottom: 1px solid #C0C0C0;
	align-items: center;
}

.input_item {
	display: flex;
	width: 100%;
	height: 58px; 
	align-items: center;
	justify-content: flex-end;
	background: rgb(235 245 252);
}

.input_item > div:not(:last-child) {
	position: relative;
	left: 20px;
}

.input_item image {
	margin-left: 10px;
}

.tweetInput {
	margin: 0 10px;
	border-radius: 10px;
	width: 500px;
	height: 30px;
	outline: 0;
	border: 1px solid rgb(206 230 249)
}

.tweetInput::placeholder {
	color: rgb(116 176 239);
	font-size: 14px;
}

.addImage {
	position: relative;
	right: 30px;
}

.main_center_subitem {
	display: flex;
	background: white;
	width:100%;
}
.mainDivPaddingLeft {
	padding-left: 10px;
}

.tweetUserName:first-child {
	font-size: 15px;
	font-weight: bold;
}

.tweetUserName:last-child {
	color: rgb(124 136 148);
	font-size: 13px;
}

.footerItem {
	color: rgb(124 136 148);
	margin-right: 50px;
	font-size: 14px;
}

.tweet {
	line-height: 25px;
	width: 520px;
}

.tweetFont {
	font-family: "Arial",sans-serif;
	font-size: 14px;
}

.flex_incline {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/*---------------center--------------*/


/*---------------right--------------*/

.main_right_item {
	display: flex;
	width: 290px;
	background: white;
	justify-content: center;
}

.userTitle {
	height: 45px
}

.userId {
	font-size: 12px;
	font-weight: normal;
}

.blueLink {
	font-size: 10px;
	text-decoration: none;
	align-items: baseline;
}

.alignCenter {
	align-items: center;
}

.followButton {
	color: #1DA1F2;
	border-style: none;
	font-size: 12px;
	font-weight: bold;
	font-family: "Hiragino" "Kaku" "Gothic Pro",sans-serif;
	outline: 0;
	border: 1px solid #1DA1F2;
	height: 30px;
	width: 100px;
	margin-bottom: 10px;
}

.followButton:hover {
	background-color: rgba(29, 161, 242, 0.1);
	cursor: pointer;
}

.user_info  {
	display: flex;
	padding-bottom: 5px;
	border-bottom: 1px solid #C0C0C0;
}

.userInfoIcon {
	margin-left: 10px;
	width: 50px;
	height:50px;
}

.userNamePosition {
	margin-left: 10px;
	display: flex;
	align-items: center;
	height: 30px;
}

.ad {
	font-size: 12px;
	line-height: 18px;
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #C0C0C0;
	color: rgb(148 157 167);
}

.ad + div {
	padding:15px 0 20px 15px;
}

.adLink {
	font-size: 12px;
}
/*---------------right--------------*/

/*---------------main---------------*/