header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #C0C0C0;
	background: white;
}

body {
	background: rgb(232 236 240);
}


img {
	object-fit: cover;
}

.circle {
	border-radius: 50%;
	vertical-align: middle;
}
.eclipse {
	border-radius: 25px;
}

.left_position {
	margin-right: auto;
	margin-left: 127px;
}

.right_position {
	margin-left: auto;
	margin-right: 127px;
}

.gray_space {
	background: rgb(232 236 240);
	width: 100%;
	height: 15px; 
}

.blue {
	color: #1DA1F2;
}

.gray {
	 color: #66757f;
}

.user_photo {
	margin-left: 10px;
}

.border {
	border-bottom: 1px #C0C0C0 solid;
}

.flex_row {
	display: flex;
	align-items: baseline;
	flex-direction: row;
}

.column {
	flex-direction: column;
}

/*---------------header---------------*/

.header_item {
	display: flex;
	align-items: center;
}

.headerImg {
	vertical-align: middle;
}

.header_item > div {
	display: inline-flex;
	align-items: center;
	height:100%;
}

.header_item > div > a {
	font-family: monospace;
	font-size: 13px;
	text-decoration: none;
	
}

/*.header_item > div: not(first-child) > a {
	color: rgb(124 136 148);
}
*/
.firstLeftHeaderItem  {
	color: #1DA1F2;
	border-bottom: 2px solid #1DA1F2;
}

.firstLeftHeaderItem > a {
	color: #1DA1F2;
}

.header_item > div > a:hover {
	color: rgb(87 160 236);
}

.header_item > div + div {
	margin-left: 20px;
}

.searchKeyWord {
	height: 30px;
	width: 221px;
	font-size: 12px;
	background-color: #f5f8fa;
	border: 1px solid #e6ecf0;
}

.firstRightHeaderItem {
	position: relative;
	left:215px;
}

.tweetButton {
	background-color: #4AB3F4;
	color:white;
	border-style: none;
	font-size: 14px;
    font-weight: bold;
    width: 92px;
    height: 36px;
}

/*---------------header---------------*/

/*---------------main---------------*/
.main_container {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
/*---------------left---------------*/
.main_left_item {
	background: white;
	display: flex;
	align-items: center;
	width: 290px;
}

.main_left_item > div {
	line-height: 1px;
}

.userNameInfo {
	margin-left: 20px;
}

.userInfoFigures {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.userInfoFigures > div > p:first-child {
	color: #657786;
	font-weight: bold;
	font-size: 13px;
	font-family: monospace;
}

.figure {
	color: #1DA1F2;
	font-weight:bold;
	font-size:16px;
	font-family: monospace;
}

.left_info_block {
	margin-right:  30px;
}

.left_info_block:first-child {
	margin-left:10px;
}

.main_left_item > div > a {
	font-size: 12px;
	text-decoration: none;
	color: #1DA1F2;
	font-family: monospace;
}

.main_left_subitem {
	margin-left: 10px;
}

.left {
	align-items: flex-start;
	margin-left: 14px;
	width: 275px;
}

.left > div > a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #1DA1F2;
}

.left > div > p  {
	font-size: 12px;
	color: black;
	line-height: 10px;
	color: rgb(124 136 148);
}

.main_left_item + .main_left_item {
	margin-top: 10px;
}

.user_icon {
	position: relative;
	top: -520px;
	left: 131px;
	width: 70px;
	height: 70px;
	margin:0px;
	padding:0px;
	border-radius: 50%;
	border:solid 3px white;
}

/*---------------left---------------*/

/*---------------center---------------*/
.user_photo {
	margin-top: 5px;
	margin-left: 0px;
}

.main_center_item{
	display: flex;
	width: 590px;
	background: white;
	border-bottom: 1px solid #C0C0C0;
	align-items: center;
}

.input_item {
	display: flex;
	width: 100%;
	height: 58px; 
	align-items: center;
	justify-content: flex-end;
	background: rgb(235 245 252);
}

.input_item > div:not(:last-child) {
	position: relative;
	left: 20px;
}

.input_item image {
	margin-left: 10px;
}

.tweetInput {
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	width: 500px;
	height: 30px;
	border: 1px solid rgb(206 230 249)
}

.tweetInput::placeholder {
	color: rgb(116 176 239);
	font-size: 14px;
}

.addImage {
	position: relative;
	right: 30px;
}

.main_center_subitem {
	display: flex;
	background: white;
	width:100%;
}
.main_center_subitem > div {
	padding-left: 10px;
}

.main_center_subitem > div > span:first-child {
	font-size: 15px;
	font-weight: bold;
}

.main_center_subitem > div > span:last-child {
	color: rgb(124 136 148);
	font-size: 13px;
}

.main_center_subitem > .footer_item > a {
	color: rgb(124 136 148);
}

.tweet {
	line-height: 25px;
	width: 520px;
}

.flex_incline {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex_incline > a {
	margin-right: 50px;
}


/*---------------center--------------*/


/*---------------right--------------*/

.main_right_item {
	display: flex;
	width: 290px;
	background: white;
	justify-content: center;
}

.userTitle {
	height: 45px
}

.main_right_item > div > a {
	font-size: 10px;
	text-decoration: none;
	align-items: baseline;
}

.main_right_item > div {
	align-items: center;
}

.followButton {
	color: #1DA1F2;
	border: 1px solid #1DA1F2;
}

.user_info  {
	display: flex;
	padding-bottom: 5px;
	border-bottom: 1px solid #C0C0C0;
}

.user_info > div > img {
	margin-left: 10px;
}

.user_name > div > button {
	height: 30px;
	width: 120px;
}

.user_name > div {
	margin-left: 10px;
	display: flex;
	align-items: center;
	height: 30px;
}

.ad {
	font-size: 12px;
	line-height: 18px;
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #C0C0C0;
	color: rgb(148 157 167);
}

.ad + div {
	margin-left:20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.ad + div > a {
	font-size: 12px;

}


/*---------------right--------------*/

/*---------------main---------------*/